/*------------------------------------------------------------------------------
	WEB : page design
------------------------------------------------------------------------------*/



/*==============================
	Layout
==============================*/

/* Body & Wrapper */



body {
	background-color: rgb(170, 231, 221);
	background-image: url("./p47bS.png");
	background-size: cover;
}

/*==============================
	Style
==============================*/

/* Set font */
* {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Body & Wrapper */

h1{
	text-align: center;
	font-weight:900;
	color: rgb(12, 204, 178);
}
 

h1 + div{
	color: rgb(255, 0, 0);

}
button {
	width: 15vh;
	height: 5vh;
	margin-bottom: 1%;
	display: block;
	block-size : 10%;
	background-color: rgb(24, 185, 206);
	border: none;
	outline-style:groove;
}

#log {
	color: rgb(45, 100, 219);
	
}
input{
	margin-top: 20%;

}


li{
	display: inline-block;
	margin-right: 2%;
	color: rgb(12, 204, 12)
}










/*==============================
	Classes
==============================*/





/*==============================
	Responsive design
==============================*/

/* Media query : mobile */
@media (max-width: 600px) {


}



/* Media query : tablet */
@media (min-width: 600px) and (max-width: 1200px) {


}



/* Media query : laptop */
@media (min-width: 1200px) {


}
