/*------------------------------------------------------------------------------
	WEB : page design
------------------------------------------------------------------------------*/



/*==============================
	Layout
==============================*/

/* Body & Wrapper */



body {
	background-image: url("./medias/p47bS.png");
	background-size: cover;

}

@keyframes colorChange {
	0% { color: rgb(207, 93, 207);}
	50% {color: rgb(8, 255, 234);}
	100% { color: rgb(207, 93, 207);}
}
/*==============================
	Style
==============================*/

/* Set font */
* {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Body & Wrapper */

h1{
	text-align: center;
	display: block;
	font-weight:900;
	color: rgb(12, 204, 178);
}
 

 #status{
	color: rgb(255, 0, 0);

}
button {
	width: 15vh;
	height: 5vh;
	margin-bottom: 1%;
	display: block;
	block-size: 10%;
	background-color: rgb(24, 185, 206);
	box-shadow: white;
}

#log {
	animation: colorChange 5s infinite;
	color: rgb(8, 255, 234);
	overflow-y: auto;
	
}

input:focus{
	outline-color:blueviolet;
	outline-width: 5px;
	outline-offset: -2px;
}
h1 > img{
	display: inline;
	height: 50px;
}
#chatDisplay{

	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;

}

li{
	display: inline-block;
	margin-right: 2%;
	color: rgb(12, 204, 12);
}

input +ul >li > h4{
	color: blueviolet;
}










/*==============================
	Classes
==============================*/





/*==============================
	Responsive design
==============================*/

/* Media query : mobile */
@media (max-width: 600px) {


}



/* Media query : tablet */
@media (min-width: 600px) and (max-width: 1200px) {


}



/* Media query : laptop */
@media (min-width: 1200px) {


}
